.logo__leetcode {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header__class {
    background-color: #24252A;
    color: #edf0f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav__list {
    list-style: none;
}

.nav__list li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.nav__list li a {
    color: #edf0f1;
    text-decoration: none;
}

.nav__list li a:hover {
    color: rgb(170, 255, 0);
}

.active {
    color: rgb(170, 255, 0) !important;
}

.username:hover {
    color: rgb(170, 255, 0);
    cursor: pointer;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search-bar button {
    cursor: pointer;
}

.logout {
    margin-left: 7.5%;
    cursor: pointer;
}

.logout:hover {
    color: #FF5733;
}

@media (max-width: 768px) {
    .header__class {
        flex-direction: column;
        text-align: center;
        height: 35%;
    }

    .search-bar {
        margin-bottom: 2.5%;
    }


}