.videos__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'iframe iframe iframe'
        'iframe iframe iframe';
    gap: 2rem;
}

.video__iframe {
    grid-area: iframe;
}